body{
    display: flex;
    background-color: black;
    border: soliid 3px white ;

}
.heading{
    poistion:relative;
   text-align: center;
   text-decoration: underline;
justify-items: center;
color: aliceblue;
font-size: 20px;
}
#a {
    
    margin: 100px;
    display: flex;
    position: relative;
    background-color: black;
    background-image: url(rock-emoji.png);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid white;

}
    
#b {
    height: 200px;
    width: 200px;
    border-radius: 50%; margin: 100px;
    display: flex;
    background-image: url(paper-emoji.png);
    background-size: cover;
    border: 3px solid white;
    background-color: black;
}
#c {
    height: 200px;
    width: 200px;
    border-radius: 50%; margin: 100px;
    background-image: url(scissors-emoji.png);
    background-size: cover;
    border: 3px solid white;
    background-color: black;
    text-align: end;
}



